@import 'util';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600');

$accent-color: #7498bc;

body {
    font-family: "Cormorant Garamond",Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #000;
}

h2 {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

h3 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

h4 {
    font-size: 26px;
    font-weight: 600;
}

h2, h3, h4 {
    @include breakpoint(sm) {
        text-align: center;
    }
}

hr {
    border-bottom: 2px solid #000;

    &.squiggles {
        background: url('/img/separator.png') no-repeat center center;
        border: 0;
        height: 8px;
        margin: 75px 0;
        width: 100%;
    
        @include breakpoint(sm) {
            margin: 35px 0;
        }
    }

    &.slim {
        border-bottom: 1px solid #bfbfbf;
        margin: 10px 0;
    }
}

p + p {
    margin-top: 20px;
}

span.subtitle {
    color: #555;

    @include breakpoint(sm) {
        display: block;
        margin-bottom: 0 !important;
        text-align: center;
    }
}

sup {
    font-size: 70%;
    position: relative;
    top: 0.2em;
}

.is-centered-mobile {
    @include breakpoint(sm) {
        margin-left: auto;
        margin-right: auto;
    }
}