@import 'base';

/* Buttons */
.button {
    background-color: $accent-color;
    border: 0;
    color: #fff;
    font-family: $title-font;
    font-weight: 300;
    font-size: 14px;
    height: 3em;
    letter-spacing: 0.05em;
    padding-bottom: calc(1.25em - 1px);
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: calc(1.25em - 1px);
    text-transform: uppercase;

    &:hover {
        background-color: darken($accent-color, 5%);
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
        color: #fff;
    }
}
