@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

$accent-color: #7498bc;
$body-font: "Roboto Slab", Helvetica, Arial, sans-serif;
$title-font: "Montserrat", Helvetica, Arial, sans-serif;
